footer {
  /*  .grid {
    min-height: unset;
  }
} */
  background: #2b3037;
}

.footer {
  text-align: left;
  padding-top: 5rem;

  p {
    font-size: 2rem;
  }

  a {
    font-size: 2rem;
  }

  &-logo {
    margin: 2rem 0 5rem;
    h3 {
      span {
        color: $color-red;
      }
    }
    p {
      margin-top: 1rem;
    }
  }

  &-links {
  }

  &-adress {
    p {
      margin-bottom: 1rem;
    }
  }

  &-socials {
    h4 {
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-red;
      margin-bottom: 1.5rem;
    }
    i {
      margin-right: 20px;
      font-size: 2.4rem;
    }
  }
  &-copyright {
    text-align: center;
    margin-top: 3rem;
    p {
      font-size: 2rem;
      background: #241d1d;
      padding: 1rem;
    }
    i {
      color: $color-red;
    }
  }
}
