footer {
  /*  .grid {
    min-height: unset;
  }
} */
  background: #2b3037;
}

.footer {
  text-align: left;
  padding-top: 5rem;

  p {
    font-size: 2rem;
  }

  a {
    font-size: 2rem;
  }

  &-logo {
    margin: 2rem 0 5rem;
    h3 {
      span {
        color: $color-red;
      }
    }
    p {
      margin-top: 1rem;
    }

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      margin-bottom: 5rem;
    }
  }

  &-links {
    @include respond(tab-port) {
      text-align: center;
      margin: auto;
      padding-left: 3rem;
    }
  }

  &-adress {
    p {
      margin-bottom: 1rem;
    }

    @include respond(tab-port) {
      width: 50%;
      text-align: center;
      margin: auto;
    }
  }

  &-socials {
    h4 {
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-red;
      margin-bottom: 1.5rem;
    }

    &--icons {
      display: flex;
      justify-content: space-around;

      @include respond(tab-port) {
        width: 100px;
        margin: auto;
      }
    }

    a {
      font-size: 2.4rem;
    }

    a:link {
      color: #fff;
    }

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }
  &-copyright {
    text-align: center;
    margin-top: 3rem;
    p {
      font-size: 2rem;
      background: #241d1d;
      padding: 1rem;
    }
    i {
      color: $color-red;
    }
  }
}
