@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*,
::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 50%;
  }
}

.App {
  position: relative;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 1rem;
  min-height: 95%;
  background: $color-primary;
  color: #ffffffd8;
  position: relative;
}

h1 {
  font-size: 6.4rem;
  text-align: left;
  @include respond(tab-land) {
    font-size: 5rem;
  }
}
h2 {
  font-size: 4.8rem;
  text-align: center;

  @include respond(tab-land) {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 3.6rem;

  @include respond(tab-land) {
    font-size: 2.5rem;
  }
}

p {
  font-size: 2.4rem;

  @include respond(tab-land) {
    font-size: 1.9rem;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: #fff;
}
ul li {
  list-style: none;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  align-self: center;
}

section {
  min-height: 100vh;
  display: flex;
  padding: 10px;
}
// Define the grid-template-columns property with a conditional statement

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* ul {
  padding: 25px;
  position: fixed;
  top: 100px;
  width: 230px;
} */

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
