$color-primary: #1e2022;
$color-primary-light: #292b2e;
$color-secondary: #52616b;
$color-primary-dark: #222326;
$color-white: #f0f5f9;
$color-light: #c9d6df;
$color-red: #924646;
$color-side: #272b30;
