$color-primary: #323a44;
$color-primary-light: #292b2e;
$color-secondary: #2e3844;
$color-primary-dark: #272b30;
$color-white: #f0f5f9;
$color-light: #c9d6df;
$color-red: #924646;
$color-side: #272b30;
$color-purple: #d33681;
$color-yellow: #92893d;
