.skills {
  background-color: #323a43;
  display: flex;

  @include respond(phone) {
    min-height: 100%;
    padding: 10rem 0;
  }
  h2 {
    span {
      color: $color-red;
    }
  }

  &-description {
    text-align: center;
    margin: 5rem auto 10rem;

    max-width: 70rem;

    padding: 0rem 3rem;
  }

  h3 {
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid $color-red;
    margin-bottom: 4rem;
  }

  &-icons {
    img {
      width: 90%;
    }
  }
}
