/* $color-primary: #323a44; */
$color-primary: #30373b;
$color-primary-light: #323a44;
$color-secondary: #2e3844;
$color-secondary-light: #2e383a;
$color-primary-dark: #272b30;
$color-white: #f0f5f9;
$color-light: #c9d6df;
$color-red: #924646;
$color-side: #272b30;
$color-purple: #d33681;
$color-yellow: #92893d;

//background sections

$background-home: #30373b;
$background-projects: #323a3d;
$background-skills: #323a43;
