.btn-container {
  margin-top: 5rem;

  a {
    border-radius: 20px;
    font-size: 2rem;
    font-family: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 12px 40px;
    border: 1px solid #eee;
  }
}
